.cards tbody tr {
	float: left;
	width: 19rem;
	margin: 0.5rem;
	border: 0 solid transparent !important;
	border-radius: .25rem;

}

.cards tbody tr.custom {
	float: left;
	width: 14rem;
	margin: 0.5rem;
	border: 0.0 solid transparent !important;
	border-radius: .25rem;
	padding-top: 0.3rem;
	padding-bottom: 0.2rem;

}

.cards tbody td {
	display: block;
}

.cards thead {
	display: none;
}

.cards td:before {
	content: attr(data-label);
	position: relative;
	float: left;
	color: #808080;
	min-width: 4rem;
	margin-left: 0;
	margin-right: 1rem;
	text-align: left;
}

tr.selected td:before {
	color: #CCC;
}



tr {
	transition: transform .2s;
}

tr:hover {
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	background: transparent !important;
	cursor: pointer;
	color: #555;
}

.table .avatar {
	width: 50px;
}

.cards .avatar {
	width: 150px;
	margin: 15px;
}

.mode-list.active {
	background: #007bff !important;
	color: white !important;
}

.grid-view {
	background-color: transparent !important;
	box-shadow: 0px 0px 0px transparent !important;
}
